@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.dm-serif {
  font-family: 'DM Serif Text', serif;
  font-style: normal;
  color: #3D2C2E;
}
.text-center{
  margin: 0px 50px 0px
}
.inter-reg {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #3D2C2E;
}



.container {
  position: relative;
  flex: 20%;
  padding: 10px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

}

.container:hover .overlay {
  transition: .5s ease;
  opacity: 1;
}

.text {
  color:  #3D2C2E;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}